.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container-fluid {
    background-color: white;
    padding: 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    height: 20%;
    width: 20%;
}

.acc{
  height: 100%;
  width: 100%;
}

.col {

font-size:120%;
  text-align: justify;
  display: inline-block;
background: linear-gradient(to left, rgb(255, 255, 255), rgb(230, 243, 255));

background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}



.nav-item{
  font-family: Cambria, Georgia, serif;
    font-size:120%;
    justify-content: center;

}

.accl {
    height: 92vh;
      background: linear-gradient(rgb(255, 226, 250), #D5C8E6);
 
    display: flex;
    justify-content: center;
    align-items: center;
}



.titre {
    color: rgb(128, 104, 128);
    font-size: 10vh;
  }

  
  h1 {
    font-size: "Poiret One", sans-serif;
    color: purple;
    text-align: center;
    margin: auto;
  }



  .qui {
    height: 92vh;
    background-color: #D5C8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size:120%;
    text-align: justify;
    font-weight: bold;

}

.col img{
    border: 0.5rem solid white;
    display: flex;
    width : 30%; 
min-width : 400px;
}






.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 0px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
   
  }

 

  @media(max-width: 600px){
    .cards {
       font-size:12px;
    }
    .navbar-brand {
      height: 0%;
      width: 0%;
  }

  .container-fluid {
    background-color: white;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
 }

/* MODAL */


.CARDCON{
  height: 40%;
  background-color: #D5C8E6;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.CARDCON1 {
  justify-content: center;
  align-items: center;
  display: flex;
}


.cards{
  height: 92vh;
  background-color: #D5C8E6;
}
.bouton {
  background-color: #D5C8E6;
  border: none;
  border-radius: 0.5vh;
  padding: 5px 15px;
}

.bouton:hover {background-color: rgb(237, 197, 227)}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #D5C8E6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button:hover {
  background-color: rgb(237, 197, 227);
}

.compet {
  color: rgb(82, 44, 103);
}

.tmfr{ 
  display: block;
    margin-left: auto;
    margin-right: auto;
  height: 50%;
  width: 50%;
}

.titrecard {
  text-align: center;
  font-size: 3vh;
}

.GRAPH {
  background-color: white;
  letter-spacing: .2rem;
}



/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: 10%;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 50px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}